body{
    background-image: url(../images/23_HBD_Pikmin_1920_1080.jpg);
    object-fit: cover;
}
.row {
    display: flex;
    width: 180px;
}

.col {
    width: 60px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.col:not(:first-child) {
    border-left: 1px solid #000;
}

.row:nth-child(odd) {
    background-color: #ffabab;
}

.row:nth-child(even) {
    background-color: #ff4d4d;
}

.active {
    background-color: #53a0ff;
    color: #fff;
}

.active:nth-child(even) {
    background-color: #0028ba;
    color: #fff;
}

.row:nth-child(even) .active {
    background-color: #871b00;
    color: #fff;
}

.row:nth-child(even) .active:nth-child(even) {
    background-color: #e1f103;
    color: #fff;
}